body{
    background-color: blue;
}

ul {
    list-style-type: none;
}
  
li {
    background-color: #F6E3CA;
    border: #D7C8B6 2px solid;
    float: left;
    margin-right: 10px;
    padding: 0 4px;
}

